<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="ROBOTS" content="NOODP">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <% if content_for? :title %>
        <%= yield(:title) %> -
      <% end %>
      <%= Madmin.site_name %> Admin
    </title>
    <%= csrf_meta_tags %>
    <%= render "javascript" %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" data-controller="mobile-nav">
    <header>
      <%= render "flash" %>
    </header>
    <%= render "madmin/application/navbar" %>

    <main>
      <aside id="sidebar" data-mobile-nav-target="menu">
        <%= render "navigation" %>
      </aside>

      <div>
        <%= yield %>
      </div>
    </main>

    <div data-mobile-nav-target="overlay" data-action="click->mobile-nav#close" class="mobile-nav-overlay"></div>
  </body>
</html>
