<%= form.fields_for(
  field.attribute_name,
  form.object.public_send(field.attribute_name) || field.to_model.new,
  {}
) do |nested_form| %>
  <% if field.resource.form_block %>
    <%= render_arbre field.resource.form_block, { form: nested_form, record: nested_form.object, resource: field.resource, action_name: action_name } %>
  <% elsif field.resource.form_items.any? %>
    <% field.resource.form_items.each do |item| %>
      <% if item.is_a?(Symbol) %>
        <% nested_attribute = field.nested_attributes[item] %>
        <% next if nested_attribute.nil? || nested_attribute.field.nil? %>
        <% next unless nested_attribute.field.visible?(action_name) %>
        <% next unless nested_attribute.field.visible?(:form) %>

        <% nested_field = nested_attribute.field %>

        <%= render "madmin/shared/form_field", field: nested_field, record: nested_form.object, form: nested_form, resource: field.resource %>
      <% else %>
        <%= render partial: "madmin/application/form_section", locals: { form_section: item, record: nested_form.object, form: nested_form, resource: field.resource } %>
      <% end %>
    <% end %>
  <% else %>
    <% field.nested_attributes.each do |name, nested_attribute| %>
      <% next if nested_attribute.field.nil? %>
      <% next unless nested_attribute.field.visible?(action_name) %>
      <% next unless nested_attribute.field.visible?(:form) %>

      <% nested_field = nested_attribute.field %>

      <%= render "madmin/shared/form_field", field: nested_field, record: nested_form.object, form: nested_form, resource: field.resource %>
    <% end %>
  <% end %>
  <% if field.destroy? %>
    <div class="form-group">
      <%= nested_form.label :_destroy %>
      <div class="form-input">
        <%= nested_form.check_box :_destroy %>
      </div>
    </div>
  <% end %>
<% end %>
