<%= form_with model: [:madmin, record], url: (record.persisted? ? resource.show_path(record) : resource.index_path), local: true do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <div class="">There was <%= pluralize form.object.errors.full_messages.count, "error" %> with your submission:</div>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if resource.form_items.any? %>
    <% resource.form_items.each do |item| %>
      <% if item.is_a?(Symbol) %>
        <% attribute = resource.attributes[item] %>
        <% next unless attribute&.field&.present? && attribute.field.visible?(action_name) %>
        <div class="form-group">
          <%= render "madmin/shared/label", form: form, field: attribute.field %>
          <%= render partial: attribute.field.to_partial_path("form"), locals: { field: attribute.field, record: record, form: form, resource: resource } %>
          <%= tag.div attribute.field.options.description, class: "form-description" if attribute.field.options.description.present? %>
          <%= tag.div attribute.field.hint, class: "form-hint" if attribute.field.hint.present? %>
        </div>
      <% elsif item.is_a?(Madmin::Resource::FormRow) %>
        <%= render partial: "form_row", locals: { form_row: item, record: record, form: form, resource: resource } %>
      <% else %>
        <%= render partial: "form_section", locals: { form_section: item, record: record, form: form, resource: resource } %>
      <% end %>
    <% end %>
  <% else %>
    <% resource.attributes.values.select{ _1.field.present? && _1.field.visible?(action_name) }.each do |attribute| %>
      <div class="form-group">
        <%= render "madmin/shared/label", form: form, field: attribute.field %>
        <%= render partial: attribute.field.to_partial_path("form"), locals: { field: attribute.field, record: record, form: form, resource: resource } %>
        <%= tag.div attribute.field.options.description, class: "form-description" if attribute.field.options.description.present? %>
        <%= tag.div attribute.field.hint, class: "form-hint" if attribute.field.hint.present? %>
      </div>
    <% end %>
  <% end %>

  <%= form.submit class: "btn btn-primary" %>
  <%= link_to "Cancel", (record.persisted? ? resource.show_path(record) : resource.index_path), class: "btn" %>
<% end %>
