<%= form_with model: [:madmin, record], url: resource.show_path(record), local: true do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <div class="">There was <%= pluralize form.object.errors.full_messages.count, "error" %> with your submission:</div>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% tab.attribute_names.each do |attr_name| %>
    <% attribute = resource.attributes[attr_name] %>
    <% next if attribute.nil? || attribute.field.nil? %>
    <div class="form-group">
      <%= render "madmin/shared/label", form: form, field: attribute.field %>
      <%= render partial: attribute.field.to_partial_path("form"), locals: { field: attribute.field, record: record, form: form, resource: resource } %>
      <%= tag.div attribute.field.options.description, class: "form-description" if attribute.field.options.description.present? %>
    </div>
  <% end %>

  <%= hidden_field_tag :tab, tab.name %>
  <%= form.submit "Save #{tab.label}", class: "btn btn-primary" %>
  <%= link_to "Cancel", resource.show_path(record), class: "btn" %>
<% end %>
