<%= form_with model: [:madmin, record], url: resource.show_path(record), local: true do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <div class="">There was <%= pluralize form.object.errors.full_messages.count, "error" %> with your submission:</div>

      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% tab.tab_items.each do |item| %>
    <% if item.is_a?(Symbol) %>
      <% attribute = resource.attributes[item] %>
      <% next if attribute.nil? || attribute.field.nil? %>
      <%= render "madmin/shared/form_field", field: attribute.field, record: record, form: form, resource: resource %>
    <% else %>
      <%= render partial: "form_section", locals: { form_section: item, record: record, form: form, resource: resource } %>
    <% end %>
  <% end %>

  <%= hidden_field_tag :tab, tab.name %>
  <%= form.submit "Save #{tab.label}", class: "btn btn-primary" %>
  <%= link_to "Cancel", resource.show_path(record), class: "btn" %>
<% end %>
